// Define grid areas and their proportions
$grid-areas-responsive: (
    profile: 7.2fr,
    about: 4.2fr,
    skills: 4.2fr,
    project: 6.5fr,
    services: 2.5fr,
    contact: 2.5fr
);

@use 'sass:map';

@media screen and (max-width: 550px) {
    main {
      grid-template-columns: 1fr;
      grid-template-rows: map.values($grid-areas-responsive);
      grid-template-areas:
        "profile"
        "about"
        "skills"
        "project"
        "services"
        "contact";
      gap: 1rem;
    }
}