// 1. Background (0dp elevation surface overlay)
// 2. Surface (with 1dp elevation surface overlay)
// 3. Primary
// 4. Secondary
// 5. On background
// 6. On Surface
// 7. On Primary 8. On Secondary

:root {
    // dark theme
    --card-surface-color: #2d3037;

    --background-color: #0f1629;

    --primary-color: #B1EE81;
    --secondary-color: #4285F4;
    --on-background-color: #6A7792;

    // text color
    --text-primary-color: #FFFFFF;
    --text-secondary-color: #B1EE81;
    --text-on-background-color: #6A7792;

    // social media color
    // --sections root 
    --grid-gap: 0.625rem;
    --border-radius: 1.25rem;
    --transition-speed: 500ms;
    --section-font-size: 1.25rem;
    --shadow-primary: rgba(3, 8, 20, 0.1) 0rem 2.4px 8px;
    --shadow-secondary: rgba(2, 8, 20, 0.1) 0rem 1.2px 2.8px;
}