@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');

main {
    h1 {
        color: var(--text-primary-color);
        font-size: clamp(1.5rem, 4vw, 3rem);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 700;
        line-height: 1.2;
        margin: 0;
    }

    h2 {
        color: var(--text-secondary-color);
        font-size: clamp(1rem, 2.5vw, 1.5rem);
        font-family: 'Nunito Sans', sans-serif;
        font-weight: 600;
        margin: 0;
    }

    .oswald {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
    }
}