@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Oswald:wght@200..700&display=swap');

main {
    h1 {
        color: var(--text-primary-color);
        font-size: 48px;
        font-family: 'Nunito', sans-serif;
    }

    h2 {
        color: var(--text-secondary-color);
        font-size: 24px;
        font-family: 'Nunito', sans-serif;
    }


    .oswald {
        font-family: "Oswald", sans-serif;
        font-optical-sizing: auto;
        font-weight: 200;
        font-style: normal;
    }
}