@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.nunito-title-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

:root {
  --nunito-title-regular: "Nunito", sans-serif;
  --nunito-title-bold: "Nunito", sans-serif;
  --nunito-title-regular-italic: "Nunito", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  background: var(--background-color);
  color: #d8d9da;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textarea without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

:root {
  --card-surface-color: #2d3037;
  --background-color: #0f1629;
  --primary-color: #B1EE81;
  --secondary-color: #4285F4;
  --on-background-color: #6A7792;
  --text-primary-color: #FFFFFF;
}

main h1 {
  color: var(--text-primary-color);
  font-size: 30px;
  font-family: "Nunito", sans-serif;
}

main {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(10, 1fr);
  grid-gap: 0.625rem;
  grid-template-areas: "profile profile skills skills skills skills skills services services" "profile profile skills skills skills skills skills services services" "profile profile skills skills skills skills skills services services" "profile profile project project project project project services services" "profile profile project project project project project services services" "profile profile project project project project project services services" "about about project project project project project services services" "about about project project project project project services services" "about about contact contact contact contact contact contact contact" "about about contact contact contact contact contact contact contact" "about about contact contact contact contact contact contact contact";
  width: 97vw;
  height: 97vh;
  margin: 0 auto;
}
main section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: var(--card-surface-color);
  font-size: 20px;
  color: #fff;
  box-shadow: rgba(3, 8, 20, 0.1) 0rem 2.4px 8px, rgba(2, 8, 20, 0.1) 0rem 1.2px 2.8px;
  border-radius: 1.25rem;
  transition: all 500ms;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.profile {
  grid-area: profile;
}

.about {
  grid-area: about;
}

.skill {
  grid-area: skills;
}

.project {
  grid-area: project;
}

.services {
  grid-area: services;
}

.contact {
  grid-area: contact;
}

@media screen and (max-width: 550px) {
  main {
    grid-template-columns: 1fr;
    grid-template-rows: 7.2fr 4.2fr 4.2fr 6.5fr 2.5fr 2.5fr;
    grid-template-areas: "profile" "about" "skills" "project" "services" "contact";
  }
}

/*# sourceMappingURL=style.css.map */
